<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <test name="APITest">

        <parameter name="email1"  value="eve.holt@reqres.in" />
        <parameter name="password"  value="cityslicka" />
        <parameter name="token"  value="QpwL5tke4Pnpja7X4" />
        <parameter name="email2"  value="peter@klaven" />
        <parameter name="message"  value="Missing password" />

        <classes>
            <class name="ru.reqresin.APITest"/>
        </classes>

    </test> <!-- Annotations -->
</suite> <!-- Suite -->